<h2><%= question_header(@question) %></h2>
<%= render 'shared/errors', resource: @question %>

<%= form_with model: [@test, @question] do |form| %>
  <%= form.label :body %> <br>
  <%= form.text_field :body %> <br>
  
  <%= form.submit 'Сохранить' %>
<% end %>

<%= link_to 'Вернуться', test_path(@question.test) %>