<div class="form-check">

<%= form_with url: (@rule.new_record? ? admin_rules_path : admin_rule_path(@rule)), model: @rule do |form| %>
    <%= form.label              :title, t('tests.index.title'), class: 'form-check-label' %> <br>
    <%= form.text_field         :title %> <br>
    <%= form.label              :category_id, t('tests.index.category'), class: 'form-check-label' %> <br>
    <%= form.collection_select  :category_id, Category.order(:title), :id, :title, prompt: true, class: 'form-check-input' %> <br>
    <%= form.label              :first_try, t('rules.index.first_try'), class: 'mt-2' %>
    <%= form.check_box          :first_try %>
    <%= form.label              :all_tests, t('rules.index.all_tests') %>
    <%= form.check_box          :all_tests %><br>
    <%= form.label              :level, t('tests.index.level'), class: 'form-check-label' %> <br>
    <%= form.number_field       :level %><br>
    <br>
    <%= form.submit t('admin.save'), class: 'btn btn-primary btn-sm' %>
<% end %>
<br>
</div>