<div class="container-fluid">
<%= link_to t('admin.new_rule'), new_admin_rule_path %>

<h2><%= t('rules.index.title') %></h2>
<table class='table table-bordered'>
<tr>
  <th class="sort-by-title pointer"><%= t('tests.index.title') %>
    <%= octicon 'arrow-up',   class: 'text-success' %>
    <%= octicon 'arrow-down', class: 'text-success' %>
  </th>
  <th><%= t('rules.index.badges_amount') %></th>
  <th><%= t('tests.index.category') %></th>
  <th><%= t('rules.index.first_try') %></th>
  <th><%= t('rules.index.all_tests') %></th>
  <th><%= t('tests.index.level') %></th>
  <th colspan="3"><%= t('shared.actions') %></th>
</tr>
<%= render @rules %>
</table>
<br>
</div>