<h2><%= t('rules.show.rule') %> '<%= @rule.title %>'</h2> <br>

<p><strong><%= t('tests.index.category') %>: </strong><%= @rule.category&.title %></p>
<p><strong><%= t('rules.index.first_try') %>: </strong><%= @rule.first_try %></p>
<p><strong><%= t('rules.index.all_tests') %>: </strong><%= @rule.all_tests %></p>
<p><strong><%= t('tests.index.level') %>: </strong><%= @rule.level %></p>

<br>

<%= link_to t('admin.change'), edit_admin_rule_path %>
<%= link_to t('shared.back'), admin_rules_path %>