<div class="form-check">
<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>

  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
  <p>
    <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %> 
    <%= b.label class: 'form-check-label' %>
  </p>
  <% end %>
  

  <%= form.submit t('shared.send'), class: 'btn btn-primary btn-sm' %>

<% end %>

<br>
<%= button_to t('gists.create_gist'), create_gist_test_passage_path(@test_passage), class:"btn btn-secondary btn-sm" %>

</div>


