
<%= render 'progress_bar' %>

<% if @test_passage.completed? %>
<h2>Прохождение теста '<%= @test_passage.test.title %>' завершено.</h2> 
  <% if @test_passage.passed %>
    <% color = "green" %>
    <% message = 'Тест пройден.' %>
  <% else %>
    <% color = "red" %>
    <% message = 'К сожалению, тест не пройден.' %>
  <% end %>

  <h3 style="color:<%= color%>;"><%= message %></h3>

  <% if @test_passage.time_elapsed? %>_
    <p>Вы не уложились в отведенное время. Попробуйте снова!</p>
  <% else %>
    <p>Вы ответили верно на <span style="color:<%= color%>"><%= number_to_percentage(@test_passage.success_percent, precision: 0) %></span> вопросов.</p>
  <% end %>

<% else %>
  <h2> Вы еще не прошли тест до конца.</h2>
  <%= link_to 'Вернуться к выполнению теста', @test_passage %>

<% end %>

<br><br>

<% if @badges.present? %>
  <h3>Поздравляем! По итогам теста вам присвоены новые бэйджи:</h3>
  <% @badges.each do |badge| %>
  <div>
    <p><%= badge.title %></p>
    <img width="80" height="80" src='<%= badge.image_url %>'></td>
  </div>
  <% end %>
<% end %>
<%= link_to 'Перейти к списку тестов', tests_path %>