<div class='container-fluid'>

<h2>Прохождение теста '<%= @test_passage.test.title %>'</h2> 
<br>
<h4><%= @test_passage.current_question.body %> (Вопрос <%= @test_passage.current_question_order_number %> из <%= @test_passage.test.questions.count %>)</h4>
<br>
<%= render 'form' %>
<br>
<%= link_to 'Перейти к списку тестов', tests_path %>
</div>