<nav>
  <ul class="admin_nav">
  <li class="admin_nav_li"><%= link_to 'TestGrinder', {controller: "/admin/tests", action: "index"}, class: "active" %></li>
  <li class="admin_nav_li"><%= link_to t('shared.tests_list'), {controller: "/admin/tests", action: "index"}, class: "active" %></li>
  
  
    <% if user_signed_in? %>
  <li class="admin_nav_li"><%= link_to t('shared.sign_out'), destroy_user_session_path, method: :delete %></li>
    <% else %>
  <li class="admin_nav_li"><%= link_to t('shared.sign_up'), new_user_registration_path, method: :get %></li>
  <li class="admin_nav_li"><%= link_to t('shared.sign_in'), new_user_session_path, method: :get %></li>
    <% end %> 
</nav>
<br>
