<nav>
  <ul class="nav">
  <li class="nav_li"><%= link_to 'TestGrinder', {controller: "/tests", action: "index"}, class: "active" %></li>
  <li class="nav_li"><%= link_to 'Список тестов', {controller: "/tests", action: "index"}, class: "active" %></li>
  
  
    <% if user_signed_in? %>
  <li class="nav_li"><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
    <% else %>
  <li class="nav_li"><%= link_to "Зарегистрироваться", new_user_registration_path, method: :get %></li>
  <li class="nav_li"><%= link_to "Войти", new_user_session_path, method: :get %></li>
    <% end %> 
</nav>
<br>
