<h2><%= t('admin.change_test') %> "<%= @test.title %>"</h2>
<%= render 'shared/errors', resource: @test %>
<%= render 'form' %>

<%= link_to t('admin.show'), admin_test_path(@test) %>
<%= link_to t('shared.back'), admin_tests_path %>