<h2>Тест '<%= @test.title %>'</h2>
<%= link_to 'Новый вопрос', new_admin_test_question_path(@test) %>
<% if @test.questions.present? %>
<h3>Список вопросов:</h3>
  <table>
  <tr>
    <th>Содержание</th>
    <th>Кол-во ответов</th>
    <th colspan="3">Действия</th>
  </tr>
  <% @test.questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td><%= question.answers.count %></td>
      <td><%= link_to 'Просмотреть', admin_question_path(question) %></td>
      <td><%= link_to 'Изменить', edit_admin_question_path(question) %></td>
      <td><%= link_to 'Удалить', admin_question_path(question),
                                  method: :delete,
                                  data: { confirm: 'Вы действительно хотите удалить запись?' } %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>Вопросов пока нет.</p>
<% end %>
<br>
<br><br>
<%= link_to 'Изменить', edit_admin_test_path %> |
<%= link_to 'Вернуться', admin_tests_path %>