<div class="container-fluid">
  <h2><%= t('.heading') %></h2>
  <table class='table table-bordered'>
  <tr>
    <th class="sort-by-title pointer"><%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success' %>
      <%= octicon 'arrow-down', class: 'text-success' %>
    </th>
    <th><%= t('.category') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions_amount') %></th>
    <th colspan="2"><%= t('.passage') %></th>
    <th><%= t('.current_question') %></th>
  </tr>
  <%= render @tests %>
  </table>
  <br>
</div>